<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/#home">Home
                        	 <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#About">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#Theme">Theme</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                     <li>
                        <a href="/#Template">Template</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                     <li>
                        <a href="/#Showcase">Showcase</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                     <li>
                        <a href="/#Starter">Starter</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#Designer">Designer</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#Blog">Blog</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#Docs">Documentation</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
