<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/site/#home">Home
                        	 <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/site/#About">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/site/#Theme">Theme</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                     <li>
                        <a href="/site/#Template">Template</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                     <li>
                        <a href="/site/#Showcase">Showcase</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                     <li>
                        <a href="/site/#Starter">Starter</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/site/#Designer">Designer</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/site/#Blog">Blog</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/site/#Documentation">Documentation</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
