<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}
                <i class="fa fa-home"></i>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
            	<li>
                    <a class="page-scroll" data-target="#about" href="#about">About</a>
                </li>            
                <li>
                    <a class="page-scroll" data-target="#Theme"  href="#Theme">Theme</a>
                </li>
                <li>
                    <a class="page-scroll" href="#Template">Template</a>
                </li>
                <li>
                    <a class="page-scroll" href="#Showcase">Showcase</a>
                </li>
                <li>
                    <a class="page-scroll" href="#Starters">Starters</a>
                </li>
                <li>
                    <a class="page-scroll" target="_blank" href="https://adminfaces.github.io/blog/">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#Documentation">Documentation</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
     <a href="https://github.com/adminfaces/site"><img class="forkme"
                            style="position: absolute; top: 0; right: 0; border: 0;"
                            src="/site/img/forkme.png"
                            alt="Fork me on GitHub" ></a>
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<br/>
						<br/>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
