    <!-- About Section -->
<style type="text/css">
#about ul {
list-style-type:none
}
</style>
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
                 <p><a href="https://github.com/adminfaces"><strong>AdminFaces</strong></a> is an open source project which integrates <a href="http://primefaces.org/">Primefaces</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="https://almsaeedstudio.com/themes/AdminLTE/index2.html/">Admin LTE</a> in order to create fully responsive and mobile ready <a href="https://javaserverfaces.java.net/">JSF</a> applications.</p>

<p>AdminFaces is composed by the following projects:</p>

<ul>
                    <li><a href="https://github.com/adminfaces/admin-theme" class="ui-link ui-widget">Admin Theme</a>: Is a <i><a href="http://primefaces.org/themes" class="ui-link ui-widget">Primefaces theme</a> </i> based on <a href="http://getbootstrap.com" class="ui-link ui-widget">Bootstrap</a> and <a href="https://almsaeedstudio.com/themes/AdminLTE/index2.html" class="ui-link ui-widget"> Admin LTE</a> where Primefaces components are customized to look like mentioned frameworks.
                    </li>
                    <li><a href="https://github.com/adminfaces/admin-template" class="ui-link ui-widget">Admin Template</a>: It's a
                        <b>fully responsive</b> <i><a href="https://javaserverfaces.java.net/" class="ui-link ui-widget">Java Server Faces</a> </i>
                        <code>admin</code> template (used by this Showcase) which is also based on <b>Bootstrap</b> and
                        <b>Admin LTE</b>.
                    </li>
                    <li><a href="https://github.com/adminfaces/admin-showcase" class="ui-link ui-widget">Admin Showcase</a>: This web application which demonstrates AdminFaces main features and components.
                    </li>
                    <li><a href="https://github.com/adminfaces/admin-designer" class="ui-link ui-widget">Admin Designer</a>: It's the same showcase application with Admin Theme and Admin Template bundled in order to make it easier to customize the theme and the template.
                    </li>
                    <li><a href="https://github.com/adminfaces/admin-starter" class="ui-link ui-widget">Admin Starter</a>: A simple starter project to get you started with AdminFaces.
                    </li>
                    <li><a href="https://github.com/adminfaces/admin-persistence" class="ui-link ui-widget">Admin Persistence</a>: CRUD operations like a breeze for AdminFaces applications based on <a href="https://deltaspike.apache.org/" class="ui-link ui-widget" target="_blank">Apache DeltaSpike</a> Data module.
                    </li>
                     <li><a href="https://github.com/adminfaces/admin-starter-springboot" class="ui-link ui-widget">Admin Starter SpringBoot</a>: Admin Starter application based on SpringBoot and JoinFaces.
                    </li>
                     <li><a href="https://github.com/adminfaces/admin-mobile" class="ui-link ui-widget">Admin Mobile</a>: Admin showcase mobile application using Android webview.
                    </li>
                </ul>
              </div>
        </div>
    </section>


