
<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<br ></i>
			<br ></i>
			<p class="font-big">
				<a href="https://github.com/adminfaces"><strong>AdminFaces</strong></a>
				is an open source project which integrates <a
					href="http://primefaces.org/">Primefaces</a>, <a
					href="http://getbootstrap.com/">Bootstrap</a> and <a
					href="https://almsaeedstudio.com/themes/AdminLTE/index2.html/">Admin
					LTE</a> in order to create fully responsive and mobile ready <a
					href="https://javaserverfaces.java.net/">JSF</a> applications.
			</p>




<div style="text-align: left;font-weight: 500;font-size:18px">
			<p style="text-align: center">AdminFaces is composed by the following projects:</p>
			<p> <i class="fa fa-check" ></i>
				<a class="intro-link" href="https://github.com/adminfaces/admin-theme">Admin Theme</a>:
				Is a <i><a href="http://primefaces.org/themes">Primefaces
						theme</a> </i> based on <a href="http://getbootstrap.com">Bootstrap</a>
				and <a href="https://almsaeedstudio.com/themes/AdminLTE/index2.html">
					Admin LTE</a> where Primefaces components are customized to look like
				mentioned frameworks.
			</p>

			<p>
				<i class="fa fa-check" ></i><a href="https://github.com/adminfaces/admin-template" class="intro-link">Admin
					Template</a>: It's a <b>fully responsive</b> <i><a
					href="https://javaserverfaces.java.net/">Java Server Faces</a> </i>
				<code>admin</code>
				template (used by this Showcase) which is also based on <b>Bootstrap</b>
				and <b>Admin LTE</b>.
			</p>


			<p>
				<i class="fa fa-check" ></i><a href="https://github.com/adminfaces/admin-showcase" class="intro-link">Admin
					Showcase</a>: This web application which demonstrates AdminFaces main
				features and components.
			</p>

		 <p> <i class="fa fa-check" ></i>
		 <a class="intro-link" href="https://github.com/adminfaces/admin-designer">Admin Designer</a>: It's the same showcase application with Admin Theme and
			Admin Template bundled in order to make it easier to customize the
			theme and the template.
		  </p>


			<p>
			<i class="fa fa-check" ></i><a class="intro-link" href="https://github.com/adminfaces/admin-starter">Admin
				Starter</a>: A simple starter project to get you started with
			AdminFaces.
			</p>


			<p>
			<i class="fa fa-check" ></i><a class="intro-link" href="https://github.com/adminfaces/admin-persistence">Admin
				Persistence</a>: CRUD operations like a breeze for AdminFaces
			applications based on <a href="https://deltaspike.apache.org/"
				target="_blank">Apache DeltaSpike</a> Data module.
			</p>

			<p>
			<i class="fa fa-check" ></i><a class="intro-link"href="https://github.com/adminfaces/admin-starter-springboot">Admin
				Starter SpringBoot</a>: Admin Starter application based on SpringBoot
			and JoinFaces.
			</p>


			<p>
			<i class="fa fa-check" ></i><a class="intro-link"href="https://github.com/adminfaces/admin-mobile">Admin Mobile</a>:
			Admin showcase mobile application using Android webview.
			</p>
</div>
			</div>
	</div>
</section>


